<!DOCTYPE html>
<html lang="en">
<head>
    <title>Роли и инструкции</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light main-menu">
            {% if current_user.is_authenticated %}
            <a href="/logout" class="navbar-brand order-md-last order-0">{{ current_user.name }}</a>
            {% else %}
            <p class="order-md-last order-0" style="margin-bottom: 0;">
                <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
            {% endif %}
            <div class="navbar-collapse collapse" id="mainNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item homeLink">
                        <a class="nav-link" href="/">
                            <span aria-hidden="true" class=" fa fa-spacer-right fa-home"></span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/" id="news">Новости</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/tcodergad">TCO'шный деград</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/dsroles">Роли и инструкции</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand order-md-first" href="/">Tenno Community Outcast</a>
        </nav>

    </header>
<div id="accordion">
{% for role in roles%}
  <div class="card" style="margin-top: 20px">
    <div class="card-header" id="headingOne" style="border-top: 1px solid rgb(216 216 216)">
      <h5 class="mb-0">
        <button class="btn" style="background-color: rgb(247 247 247);
        box-shadow: 0 0 0 0.2rem rgb(247 247 247);" data-toggle="collapse" data-target="#collapseOne{{role.id}}" aria-expanded="true" aria-controls="collapseOne">
            <h5 style="color: {{role.color}}">{{role.name}}</h5> <!--Менять-->
        </button>
      </h5>
    </div>
    <div id="collapseOne{{role.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <h6>Информация</h6>
          <a>{{role.decription}}</a>  <!--Менять-->
          <h6 style="margin-top: 15px;">Возможности</h6>
            {% for op in role.opportunity %}
                <a>{{op}}</a><br> <!--Менять-->
            {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
<script>document.getElementById('news').setAttribute('href', '/')</script>
</body>
</html>